.payment label {
  font-weight: 600;
  color: #000d6b;
}

.payment button {
  padding: 8px 15px;
  border-radius: 5px;
  background: #000d6b;
  color: #fff;
  border: none;
  outline: none;
}

.payment button:disabled {
  background: #ccc; /* Change to the desired disabled background color */
  color: #999; /* Change to the desired disabled text color */
  cursor: not-allowed; /* Change to the desired cursor for disabled state */
}